body{
   width: 100%;
}
.container{
   max-width: 1120px;
   margin: 0 auto;
}
.content{
   display: flex;
   gap: 15px;
}
.box{
   padding: 25px;
   background:lightsalmon;
   color: blakc;
   border-radius: 15px;
}
@media screen and (max-width:600px) {
   .content{
      flex-direction: column;
   }
}